.profile-form-wrapper .grid-1 .form-item,
.profile-form-wrapper .grid-1 .input-1 {
    margin-bottom: -10px;
}

.profile-form-wrapper .grid-1 .input-1 input {
    width:513px;
    font-size:14px;
}

.profile-form-wrapper .grid-1 .grid-3 input {
    width: 239px;
    font-size:14px;
}

.profile-form-wrapper .grid-2 .input-2 .field-multiple-table input {
    width:305px;
    font-size:14px;
}

